<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publish</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!--{% load i18n %}-->
    {% load bootstrap3 %}
    <!--{% trans "Hello World" %}-->
    <img src="{{ MEDIA_URL }}release.png" />
    <div class="container">
        <form action="" method="POST" class="form">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
            {% buttons %}
                <button  type="submit" class="btn btn-primary">
                    {% bootstrap_icon "start" %} Submit
                </button>
            {% endbuttons %}
        </form>
     </div>
</body>
</html>